.title {
	font-family: 'Montserrat', sans-serif;
	text-align: center; 
}
.container {
	margin: 0 auto;
	height: 400px;
	width: 800px;
	border: 1px solid black;
	text-align: center;
}
.rock, .paper, .scissors {
	margin: 40px;
	height: 100px;
	width: 100px;
	text-align: center;
	border-radius: 100%;
	border: 1px solid black;
	padding: 10px;
}
.rock:hover, .paper:hover, .scissors:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px black;
}
.rockResult, .paperResult, .scissorsResult {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}